fastapi==0.115.4
uvicorn==0.32.0
python-multipart==0.0.12
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
python-decouple==3.8
pymongo==4.10.1
pytest==8.3.3
PyJWT==2.10.1
qrcode==8.0
Pillow==11.0.0
bcrypt==4.2.1
stripe==11.1.1
requests==2.31.0
